<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rabbit Juice - Checkout</title>
    <!-- Linking Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,900" rel="stylesheet">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/business.css" type="text/css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" src="/scripts/business-page.js"></script> -->

  </head>

  <body>

     <!-- Top nav bar (fixed) -->
     <nav id="nav-bar">
        <img class="logo" src="/images/logo.png">
        <span class="header">Rabbit Juice</span>
        <span class="info">The best juice you can get!</span>
      </nav>

    <main>
      <div class="container">
        <section id="order" >
          <header>
          <h3>ORDER 123</h3>
          </header>
          <div>
            <h4>Line items:</h4>
            <h5>Red Drink</h5>
            <h6>Ingredients: ingredients needed for red drink</h6>
            <h5>Custom Drink</h5>
            <h6>Ingredients: ingredients needed for custom drink</h6>
          </div>
          <footer class="line-item">
            <form id="newOrder" method="POST" action="/business/time-entered">
              <h4>Minutes to completion:</h4>
              <p id= "err-noTime" hidden>This order does not have a time to completion therefore cannot be submitted.</p>
              <textarea name="minutes"class = "textarea" name="text" placeholder="Enter number of minutes here"></textarea>
              <input method="POST" action="/business/time-entered" type="submit" value="Send to Customer">
            </form>
            <input method="POST" action="/business/:order_id/pickup" type="submit" value="Picked Up">
          </footer>
        </section>
      </div>
    </main>

    <!-- Adding Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>