<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rabbit Juice - Checkout</title>
    <!-- Linking Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,900" rel="stylesheet">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>

  </head>

  <body>

     <!-- Top nav bar (fixed) -->
     <nav id="nav-bar">
        <img class="logo" src="/images/logo.png">
        <span class="header">Rabbit Juice</span>
        <span class="info">The best juice you can get!</span>
      </nav>

    <main id="checkout-main">
        <div class="page-header">
            <h1 id="checkout-header">Your Order</h1>
          </div>
      <div class="container">
          <div class="row order-row">
          <div class="order-box">
            <div class="col col-juice-image">
                <img class="juice-pics-order" src="images/myo.jpg">
            </div>
          <h2 class="ordername">Make Your Own Juice</h2>
          </div>
        </div>
        <div class="container"></div>
        <section class="customize-menu">
          <div class="row">
          <h4 id="select-ingredients">Please Select Your Ingredients</h4>
        </div>
        <div class="row">
          <h6 class="ingredient-headers">Fruits:</h6>
        </div>
        <div class="row">
          <div class="col">
              <input type="checkbox" name="ingredient" value="Strawberry" class="checkbox" id="1"><label for="Strawberry">Strawberries</label><br>
              <img class="ingredient-pics" src="images/strawberries.jpg">
              <h6 class=ingredient-price>$2.50</h6>
          </div>
          <div class="col">
              <input type="checkbox" name="ingredient" value="Blueberry" class="checkbox" id="2"><label for="Blueberry">Blueberries</label><br>
              <img class="ingredient-pics" src="images/blueberries.jpg">
              <h6 class=ingredient-price>$2.50</h6>
            </div>
            <div class="col">
                <input type="checkbox" name="ingredient" value="Banana" class="checkbox" id="3"><label for="Banana">Bananas</label><br>
                <img class="ingredient-pics" src="images/bananas.jpg">
                <h6 class=ingredient-price>$2.50</h6>
            </div>
            <div class ="col">
                <input type="checkbox" name="ingredient" value="Apple" class="checkbox" id="4"><label for="Apple">Apples</label><br>
                <img class="ingredient-pics" src="images/apples.jpg">
                <h6 class=ingredient-price>$2.75</h6>
            </div>
            <div class="col">
                <input type="checkbox" name="ingredient" value="Mango" class="checkbox" id="5"><label for="Mango">Mangoes</label><br>
                <img class="ingredient-pics" src="images/mangoes.jpg">
                <h6 class=ingredient-price>$2.50</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" name="ingredient" value="Pineapple" class="checkbox" id="6"><label for="Pineapple">Pineapples</label><br>
                <img class="ingredient-pics" src="images/pineapples.jpg">
                <h6 class=ingredient-price>$2.50</h6>
              </div>
              <div class="col">
                  <input type="checkbox" name="ingredient" value="Orange" class="checkbox" id="7"><label for="Orange">Oranges</label><br>
                  <img class="ingredient-pics" src="images/oranges.jpg">
                  <h6 class=ingredient-price>$2.50</h6>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
                </div>
          </div>
          <div class="row">
              <h6 class="ingredient-headers">Veggies:</h6>
            </div>
            <div class="row">
              <div class="col">
                  <input type="checkbox" name="ingredient" value="Carrot" class="checkbox" id="8"><label for="Carrot">Carrots</label><br>
                  <img class="ingredient-pics" src="images/carrots.jpg">
                  <h6 class=ingredient-price>$2.75</h6>
              </div>
              <div class="col">
                  <input type="checkbox" name="ingredient" value="Kale" class="checkbox" id="9"><label for="Kale">Kale</label><br>
                  <img class="ingredient-pics" src="images/kale.jpg">
                  <h6 class=ingredient-price>$2.50</h6>
                </div>
                <div class="col">
                    <input type="checkbox" name="ingredient" value="Celery" class="checkbox" id="10"><label for="Celery">Celery</label><br>
                    <img class="ingredient-pics" src="images/celery.jpg">
                    <h6 class=ingredient-price>$2.75</h6>
                </div>
                <div class="col">
                    <input type="checkbox" name="ingredient" value="Beet" class="checkbox" id="11"><label for="Beet">Beets</label><br>
                    <img class="ingredient-pics" src="images/beets.jpg">
                    <h6 class=ingredient-price>$2.50</h6>
                </div>
                <div class="col">
                    <input type="checkbox" name="ingredient" value="Ginger" class="checkbox" id="12"><label for="Ginger">Ginger</label><br>
                    <img class="ingredient-pics" src="images/ginger.jpg">
                    <h6 class=ingredient-price>$3.00</h6>
                  </div>
              </div>
              <div class="row">
                  <h6 class="ingredient-headers">Boosters:</h6>
                </div>
                <div class="row">
                  <div class="col">
                      <input type="checkbox" name="ingredient" value="Energy" class="checkbox" id="13"><label for="Energy">Energy</label><br>
                      <img class="ingredient-pics" src="images/energy.jpg">
                      <h6 class=ingredient-price>$3.50</h6>
                  </div>
                  <div class="col">
                      <input type="checkbox" name="ingredient" value="Protein" class="checkbox" id="14"><label for="Protein">Protein</label><br>
                      <img class="ingredient-pics" src="images/protein.jpg">
                      <h6 class=ingredient-price>$3.50</h6>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="ingredient" value="Immunity" class="checkbox" id="15"><label for="Immunity">Immunity</label><br>
                        <img class="ingredient-pics" src="images/immunity.jpg">
                        <h6 class=ingredient-price>$3.50</h6>
                  </div>
        </section>
        
        
        
        
        
        
        <div class="row order-row">
            <div class="order-box">
              <div class="col col-juice-image">
                  <img class="juice-pics-order" src="images/berry.jpg">
              </div>
            <h2 class="ordername">Berry Juice</h2>
            </div>
          </div>
    </main>

    <footer id="body-footer">
        <div class="container-fluid">
          <span class="row" id="footer-total-checkout">
            $0 Total
          </span>
          <span class="row total" id="total-drinks-checkout">
              0 Juice(s)
          </span>
          <span>
              <button type="submit" id="order-now">Order Now</button>
            <!-- <button type="submit" id="checkout-button">Checkout</button> -->
          </span>
    </div>
      </footer>
  
      <div class="container-fluid">
        <!-- <span class="row" id="footer-total"> -->
          <form method="POST" action="/checkout/confirm">
            <textarea class = "textarea" name="text" placeholder="John Doe"></textarea>
            <textarea class = "textarea" name="text" placeholder="+16471234567"></textarea>
            <button id="order" type="submit">Order Now</button>
          </form>
        <!-- </span> -->
      </div>
    </footer>
    <!-- Adding Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
