<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rabbit Juice - Confirmed</title>
    <!-- Linking Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,900" rel="stylesheet">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/confirm.css" type="text/css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>

  <body>

     <!-- Top nav bar (fixed) -->
     <nav id="nav-bar">
        <img class="logo" src="/images/logo.png">
        <span class="header">Rabbit Juice</span>
        <span class="info">The best juice you can get!</span>
      </nav>

    <main>
      <div class="container" id="confirm-container">
          <div class="row home-row">
        <h3 id="order-processed">Your order is being processed...</h3>
        <h4 id="confirm-text">You should receive a text message soon with the amount of time until your order is ready for pickup</h4>
      </div>
      </div>
    </main>

    <!-- Adding Bootstrap Scripts -->
  </body>
</html>