<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rabbit Juice - Homepage</title>
    <!-- Linking Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,900" rel="stylesheet">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

     <!-- Top nav bar (fixed) -->
     <nav id="nav-bar">
        <img class="logo" src="/images/logo.png">
        <span class="header">Rabbit Juice</span>
        <span class="info">The best juice you can get!</span>
      </nav>

    <main>
      <div class="container">
        <div class="row home-row">
          <div class="col home-col" align="center" id="berry-col">
            <img class="juice-pics" src="images/berry.jpg">
            <button type="submit" class="increase" id="increase-berry">+</button>
            <h4 class="amount-clicked hide berry">0</h4>
            <button type="submit" class="decrease" id="decrease-berry">-</button>
          </div>
          <div class="col home-col" align="center" id="green-col">
              <img class="juice-pics" src="images/green.jpg">
              <button type="submit" class="increase" id="increase-green">+</button>
              <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-green">-</button>
          </div>
          <div class="col home-col" align="center" id="mango-col">
              <img class="juice-pics" src="images/orange-mango.jpg">
              <button type="submit" class="increase" id="increase-mango">+</button>
              <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-mango">-</button>
          </div>
          <div class="col home-col" align="center" id="red-col">
              <img class="juice-pics" src="images/red.jpg">
              <button type="submit" class="increase" id="increase-red">+</button>
              <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-red">-</button>
          </div>
        </div>
        <div class="row home-row">
            <div class="col home-col" align="center" id="tropical-col">
                <img class="juice-pics" src="images/tropical.jpg">
                <button type="submit" class="increase" id="increase-tropical">+</button>
                <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-tropical">-</button>
            </div>
            <div class="col home-col" align="center" id ="veggie-col">
                <img class="juice-pics" src="images/veggie.jpg">
                <button type="submit" class="increase" id="increase-veggie">+</button>
                <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-veggie">-</button>
            </div>
            <div class="col home-col" align="center" id="banana-col">
                <img class="juice-pics" src="images/straw-banana.jpg">
                <button type="submit" class="increase" id="increase-banana">+</button>
                <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-banana">-</button>
            </div>
            <div class="col home-col" align="center" id="myo-col">
                <img class="juice-pics" src="images/myo.jpg">
                <button type="submit" class="increase" id="increase-myo">+</button>
                <h4 class="amount-clicked hide">0</h4>
            <button type="submit" class="decrease" id="decrease-myo">-</button>
            </div>
          </div>
      </div>
    </main>

    <footer id="body-footer">
      <div class="container-fluid">
        <span class="row" id="footer-total">
          $ Total
        </span>
        <span class="row total" id="total-drinks">
            0 Juice(s)
        </span>
        <span>
            <input type="submit" value="Next" id="checkout-button">
          <!-- <button type="submit" id="checkout-button">Checkout</button> -->
        </span>
  </div>
    </footer>
    <!-- Adding Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
