// Importing Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Top Nav Bar for all Pages
#nav-bar {
  height: 7rem;
  width: 100%;
  background-color: #450998;
  color: #e8fdff;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  z-index: 1000;
  margin-top: 0px;
}
//Rabbit logo top left
.logo{
  width: 6rem;
    height: 5rem;
    margin: 1rem;
    float: left;
}

//Company Logo (Text)
.header{
  font-family: 'Capriola', sans-serif;
  font-size: 3rem;
  line-height: 7rem;
}
//Tagline
.info{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  line-height: 7rem;
  margin-right: 1rem;
  float: right;
}

//Main Body
//Background
body{
  background-image: url("../images/bg.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#homepage-main{
  margin-left: 22rem;
}

//Main body structure
main{
  padding: 2rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  width: 100%;
}

//Homepage "/"

//Each Row
.home-row{
padding: 1rem;
}

//Each Column
.home-col{
padding: 2rem;
}

//Counter underneath selected drinks
.amount-clicked{
  display: inline;
  font-family: 'Capriola', sans-serif;
  color: white;
  font-size: 3rem;
}

//Class to add/remove to .amount-clicked to make the text smaller for orders > 9
.smaller{
  font-size: 2rem;
}

//Class to add/remove to .amount-clicked to hide it if nothing is selected
.hide{
  display: none;
}

//Pictures of juices as displayed on Homepage
.juice-pics{
  border-radius: 25%;
  height: 60%;
  width: 100%;
}

//Price underneath each drink on Homepage
.price{
  font-family: 'Capriola', sans-serif;
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
}

//Price style for the Make Your Own drink
.price-myo{
  font-family: 'Capriola', sans-serif;
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
}


//Style for the 'add one' button
.increase{
margin: 1rem;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-weight: 900;
color: white;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
font-size: 4rem;
}

//Style for the 'remove one' button
.decrease{
  margin: 1rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 4rem;
  visibility: hidden;
}

//Style added to 'remove one' button to show the button once a drink has been added
.show-button{
  visibility: visible;
}

//Checkout Page

//Sidebar
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 22rem;
  position: fixed;
  top: 7rem;
  left: 0;
  height: 100%;
  z-index: 999;
  background: #360776;
  color: #e8fdff;
  transition: all 0.3s;
  padding-top: 2rem;
}

//Final order button on the Checkout page sidebar
#your-order{
  font-family: 'Capriola', sans-serif;
  font-size: 3rem;
  color: #e8fdff;
  margin-left: 2rem;
}

#name-tag{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  color: #e8fdff;
  margin-left: 2rem;
  margin-top: 2rem;
}

#name-field{
margin-left: 2rem;
border-radius: 5px;
margin-top: 1rem;
padding-bottom: 1rem;
height: 3rem;
width: 19rem;
}

#number-tag{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  color: #e8fdff;
  margin-left: 2rem;
  margin-top: 2rem;
}

#number-field{
  margin-left: 2rem;
border-radius: 5px;
margin-top: 1rem;
padding-bottom: 1rem;
height: 3rem;
width: 19rem;
}

#order-now{
  float: right;
  background-color: #e8fdff;
  border-radius: 5px;
  color: black;
  font-size: 2rem;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  border: 1px solid black;
  height: 4rem;
  width: 13rem;
  margin-right: 2rem;
}

#footer-total{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  color: #e8fdff;
  margin-left: 2rem;
  margin-top: 3rem;
}

#total-drinks{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  color: #e8fdff;
  margin-left: 2rem;
  margin-top: 2rem;
}

#checkout-header{
  font-family: 'Capriola', sans-serif;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #e8fdff;
}

.juice-pics-order{
  height: 12%;
  width: 12%;
  border-radius: 25%;
  float: left;
}

.order-box{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ordername{
  font-family: 'Capriola', sans-serif;
  color: #e8fdff;
  font-size: 3rem;
  text-align: center;
  line-height: 11rem;
}

.customize-menu{
  margin-right: 0rem;
  margin-left: 65rem;
  margin-top: 7rem;
  padding: 2rem;
  position: fixed;
  width: 50rem;
  height: 50rem;
  background-color: rgb(1, 10, 58);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
 visibility: hidden;
}

.customize-menu-show{
  visibility: visible;
}



.ingredient-pics{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  float: left;
  margin-bottom: 2rem;
}

#select-ingredients{
  font-family: 'Capriola', sans-serif;
  color: #e8fdff;
  margin: 1rem;
  display: inline;
}

#myo-button{
  margin-right: 0rem;
  height: 2.5rem;
  width: 5rem;
  font-family: 'Capriola', sans-serif;
  font-size: 1.5rem;
  border-radius: 5px;
}

.ingredient-headers{
  font-family: 'Capriola', sans-serif;
  color: #e8fdff;
  font-size: 1.5rem;
  margin: 1rem;
}

label {
  color: #e8fdff;
  font-family: 'Capriola', sans-serif;
  margin-left: 0.5rem;
}

input[type=checkbox]:hover {
  box-shadow:0px 0px 10px #1300ff;
}

.ingredient-price{
  color: #e8fdff;
  font-family: 'Capriola', sans-serif;
  margin-left: 0.5rem;
}


#field-error{
	display: none;
	background-color: #C75050;
	margin-left: 1rem;
	text-align: center;
	color: white;
	font-style: 'Capriola', sans-serif;
	height: 2rem;
  line-height: 2rem;
  width: 13rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; 
}



//Basic footer style
footer{
  height: 6rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #450998;
  padding: 1rem;
  z-index: 1;
}

//Total amount in footer
#footer-total-checkout{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  float: left;
  color: #e8fdff;
  margin-left: 2rem;
  margin-top: 0.8rem;
}

//Total drinks in footer
#total-drinks-checkout{
  font-family: 'Capriola', sans-serif;
  font-size: 2rem;
  float: left;
  color: #e8fdff;
  margin-left: 4rem;
  margin-top: 0.8rem;
}

//Button to move to the checkout page on the Homepage footer
#checkout-button{
  background-color: #e8fdff;
  border-radius: 5px;
  color: black;
  font-size: 2rem;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  border: 1px solid black;
  height: 4rem;
  width: 13rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
}




